.posts {
  .post {
    img {
      height: 300px;
      width: 300px;
      object-fit: cover;
      object-position: center;
    }
  }
}

.post-detail {
  h1 {
    margin-bottom: 1rem;
  }
  .subtitle {
    margin-bottom: .5rem;
  }
  .main-image {
    width: 100%;
    max-width: 900px;
  }
  img {border-radius: .75rem;}
  img:not(.main-image) {margin: 1rem 0;}
  .text {
    ul, ol {
      margin-left: 1.5rem;
    }
    a {color: black;}
  }
}

.post-big {
  position: relative;
  height: 500px;
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .5s;
  }

  &:hover {
    img {
      top: -5%;
      left: -5%;
      width: 110%;
      height: 110%;
    }
  }

  .post__content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    padding: 2rem;
    padding-top: 4rem;
    background: linear-gradient(0deg, #000000b4, #00000000);
    color: white;

    h3, p {max-width: 75%;}
  }
}