@import "../../styles/variables";

button {
  border: 0;
  background: transparent;
  font-family: "Unbounded";
  outline: none;
  offset: 0;
  border-radius: $br-md;
  transition: .3s;
  padding: 0.75rem 1rem;
  cursor: pointer;

  &.left svg {margin-right: .5rem;}
  &.right svg {margin-left: .5rem;}
}

button.primary {
  background: #25262B;
  color: white;

  &:hover, &:disabled {
    background: #1A1B1E;
  }
}

button.secondary {
  border: 1px solid #25262B;
  background: white;

  &:hover, &:disabled {
    background: #eaeaea;
  }
}

button.submit {
  background: $blue;
  color: white;
  font-weight: bold;

  &:hover, &:disabled {
    background: $light-blue;
  }
}
