@import "../../styles/variables";

.texteditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Manrope';
  background: transparentize($light-blue, .8);

  &-menu {
    width: 100%;
    padding: .5rem;
    background: transparentize($light-blue, .8);
    justify-content: start;
    position: sticky;
    top: 0;

    &__button {
      background: transparentize($light-blue, .7);
      transition: .3s;
      border: 0;
      padding: .5rem;
      border-radius: .5rem;
      cursor: pointer;
      color: black;

      &:hover {
        background: transparentize(white, .6);
      }

      &.is-active, &:focus {
        background: transparentize(white, .1);
      }
    }

    option {padding: .5rem .75rem;}
  }

  &-field {
    min-height: 200px;
    width: calc(100% - 1rem);
    margin: .5rem;
    background: white;
    border-radius: .75rem;
    padding: .5rem .75rem;
    max-height: 500px;
    overflow-y: auto;

    & div {min-height: 300px;}

    ul, ol {margin-left: 1rem;}

    code {
      padding: .5rem .75rem;
      border-radius: .75rem;
      background: #3c3c3c;
      color: white;
      margin-right: .5rem;
      display: block;
      width: fit-content;
    }

    img {
      border-radius: .75rem;
      border: 2px solid transparent;
    }

    img.ProseMirror-selectednode {
      border: 2px solid red;
    }
  }

  &-modal {
    .overlay {background: #00000032}
    & > div:last-child {max-width: 500px;}
  }
}
